 <html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>
<body>
	<section>
		<div class="container" >
			<div class="row">	
				<div class="col-md-10 offset-md-2" >
				
					<div class="my-card mt-2" th:if=${userEmp} >
				 		<h2 class="text-center">Showing Employee Details</h2>
				 		
				 		<h3 class="mt-5 text-center">
				 			<span>Hello </span>  <span th:text="${userEmp.name}"></span> <span> !!</span>
				 			
				 		</h3>
				 		
				 		
				 		<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#ID</th>
						      <th scope="col"><span th:text="${userEmp.empid}"></span></th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">Email</th>
						      <td><span th:text="${userEmp.email}"></span></td>
						    </tr>
						    
						    <tr>
						      <th scope="row">Is Active</th>
						      <td><span th:text="${userEmp.enabled} ? 'Active' : 'Not Active'"></span></td>
						    </tr>
						    
						  </tbody>
						</table>
						
						<div class="container mt-5">
							<button  th:onClick="|deleteContact(${userEmp.empid})|" class="btn btn-danger btn-sm btn-block w-50">Delete</button>
							
							<form method="post" th:action="@{'/user/update-contact/'+${userEmp.empid}}" class="mt-2">
							
				      			<button type="submit" class="btn btn-primary btn-sm w-50 mt-3">Update</button>
				      			
				      		</form>
						</div>
				 		
				 	</div>
				</div>
			</div>
			
				<h1 class="text-center p-3 bg-danger text-white"
					th:unless="${userEmp}">
						You don't have permission
				</h1>
				
		</div> 	
			
			</section>
			
		</div>
	</section>
</body>
</html>